#<%= html_element_id(:spacer) %> {
  margin: 0px;
  padding: 0px;
  height: 250px;
  width: 100%;
  border-top: 3px dotted #F00;
}

div.<%= html_element_id(:main_wrapper) %> {
  position: fixed;
  width: 100%;
  background-color: #DEDEDE;
  border-top: 1px solid #000;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 50000;
}

#<%= html_element_id(:console_display) %> {
  width: 600px;
  border: 1px solid #000;
  height: 200px;
  margin: 3px;
  overflow: scroll;
  font-size: 14px;
  background-color: #FFF;
}

#<%= html_element_id(:console_input) %> {
  width: 600px;
  border: 1px solid #000;
  margin: 0px 3px 3px;
}


#<%= html_element_id(:console_display) %> span.<%= html_element_id(:exception) %> {
  color: #F00;
}

#<%= html_element_id(:console_display) %> span.<%= html_element_id(:object_type) %> {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 5px;
  padding: 2px 5px 1px;
}

#<%= html_element_id(:console_display) %> span.<%= html_element_id(:too_deep) %> {
  font-style: italic;
  font-size: 12px;
}

#<%= html_element_id(:console_display) %> div {
  margin: 0px;
  padding: 0px;
}

#<%= html_element_id(:console_display) %> .<%= html_element_id(:line) %> {
  min-height: 18px;
  border-bottom: 1px dotted #DDDDDD;
}

#<%= html_element_id(:console_display) %> .<%= html_element_id(:line_number) %> {
  border: 0px;
  background-color: #AAAAAA;
  float: left;
  height: 16px;
  padding: 3px 5px 0 0;
  text-align: right;
  width: 50px;
  color: #444;
}

#<%= html_element_id(:console_display) %> .<%= html_element_id(:content) %> {
  border: 0px;
  float: left;
  min-height: 17px;
  overflow: hidden;
  width: 522px;
  padding: 2px 0 0 5px;
}
