<div>
  <br />
  <!-- both this DIV and this BR are necesary here for IE7 to dynamicaly load css style element. -->
  <style type="text/css">
    <%= render :template => 'main_wrapper.css' %>
  </style>
</div>
<div class="<%= html_element_id(:main_wrapper) %>" id="<%= html_element_id(:main_wrapper) %>">
  <div id="<%= html_element_id(:console_display) %>"></div>
  <input id="<%= html_element_id(:console_input) %>" type="text" />
</div>
<div id="<%= html_element_id(:spacer) %>"><!-- zZz --></div>
