#waterbug_spacer {
  margin: 0px;
  padding: 0px;
  height: 250px;
  width: 100%;
  border-top: 3px dotted #F00;
}

div.main_wrapper {
  position: fixed;
  width: 100%;
  background-color: #FFF;
  border-top: 2px solid #000;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  z-index: 50000;
}

span.exception {
  color: #F00;
}

#console_display {
  width: 600px;
  border: 1px solid #000;
  height: 200px;
  margin: 5px;
  overflow: scroll;
}

#console_input {
  width: 600px;
  border: 1px solid #000;
  margin: 5px;
}
